// There is currently only one page for this site so this will be the only style file

@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);

/* Modified YUI2 Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0; }
table { border-collapse:collapse;border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal;font-weight:normal;}
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%;font-weight:normal;}
q:before,q:after { content:'';}
a { text-decoration:none; outline: none; }
abbr,acronym { border:0;}
input, textarea { -webkit-appearance: none; }
header, article, section, nav, figure, aside, hgroup, footer { display:block; } // Only for HTML5
body, html { height:100%; font-family: 'Raleway', Helvetica,Arial,sans-serif}
body {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}
strong { font-weight: bold; }
.hidden { display: none};
.normal { font-weight: normal !important; }
.italic {
    font-weight: normal !important;
    font-style: italic;
}
.italic-bold { font-style: italic; }

.error { color: #f00; }

.direct-access {
    padding: 0.5em;
    text-align: center;

    h1 {
        font-size: 3em;
        font-weight: bold;
    }
}

.default-page {
    width: 1000px;
    margin: 0 auto;
    height: 94%;
    padding: 2%;

    h1 {
        position: relative;
        font-size: 150px;
        font-weight: bold;
        line-height:1;
        padding-left: 15%;
        margin-bottom: 0.5em;
        background-image: url("/static/images/logo-hires.png");
        background-repeat: no-repeat;
        background-position: 50% left;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .notify {
        padding: 1em;
        background-color: #F0F0F0;
    }

    p {
        text-align: center;
        font-size: 2em;
        margin-bottom: 1em;
    }
    ul {
        font-size: 2em;
        li { margin-bottom: 0.5em; }
    }
    form {
        padding: 1em;
        text-align: center;
        input:not(#fontColor) {
            &[type="text"] { width: 80%; }
            padding: 1em;
            display: block;
            width: 40%;
            margin: 0.5em auto;
            font-size: 2em
        }
        input[name="fontColor"] {
            height: 15px;
        }
    }
}

@media only screen and (max-width: 1000px){
    .default-page {
        width: 100%;
        h1 { font-size: 100px; }
    }
}

@media only screen and (max-width: 860px){
    .default-page {
        h1 { font-size: 100px; }
        p { font-size: 1.5em; }
        input[type="text"] { font-size: 1.5em; }
    }
}

@media only screen and (max-width: 690px){
    .default-page {
        h1 { font-size: 80px; }
        p { font-size: 1.2em; }
        input[type="text"] { font-size: 1.2em; }
    }
}

@media only screen and (max-width: 550px){
    .default-page {
        h1 { font-size: 50px; }
        p { font-size: 1em; }
        input[type="text"] { font-size: 1em; }
    }
}

@media only screen and (max-width: 450px){
    .default-page {
        h1 { font-size: 40px; }
        p { font-size: 1em; }
        input[type="text"] { font-size: 1em; }
    }
}
